@import 'MFXColors.css';
@import 'Fonts.css';

.grid-background {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);
}

.record:hover, .record-chosen {
    -fx-background-color: #F3F3F3;
    -fx-cursor: hand;
}

.delete-button:hover {
    -fx-cursor: hand;
    -fx-fill: #FF0000;
}

.grey-scroll-pane {
    -fx-background-color: #F3F3F3;
}

.white-scroll-pane {
    -fx-background-color: white;
}

.header-label {
	-fx-font-family: 'Visby Round CF Bold';
	-fx-font-size: 14;
	-fx-text-fill: -mfx-text-he;
}

.search-result:hover {
    -fx-cursor: hand;
    -fx-background-color: #F3F3F3;
}

.search-result-entry-chosen {
    -fx-background-color: #F3F3F3;
}

.icon-button {
    -fx-background-color: transparent, transparent, transparent, transparent, transparent;
}

.icon-label-grey .label-icon-grey {
    -fx-fill: #A0A0A0;
}

.icon-label-black .label-icon-black {
    -fx-fill: -mfx-text-me;
}

.icon-label-green .label-icon-green {
    -fx-fill: #00D000;
}

/* set default fill of svg path */
.icon-button-grey .button-icon-grey {
    -fx-fill: #A0A0A0;
}

.icon-button-black .button-icon-black {
    -fx-fill: -mfx-text-me;
}

.icon-button-grey:pressed .button-icon-grey,
.icon-button-grey:hover .button-icon-grey {
    -fx-fill: #101010;
}


.icon-button-green .button-icon-green {
    -fx-fill: #00D000;
}

.icon-button-green:pressed .button-icon-green,
.icon-button-green:hover .button-icon-green {
    -fx-fill: #00F000;
}

/* set default fill of svg path */
.icon-button:focused {
    -fx-background-radius: 0;
}

.icon-button:hover {
    -fx-cursor: hand;
}